@import "../../common/color.scss";

.btn{
    padding: 10px;
    border-radius: 4px;
    color: white;
    cursor: pointer;
    margin-left: 16px;
    outline: none;
    border: none;
    box-shadow: inset;
    
    &-next{
        background-color: green;
    }

    &-back{
        background-color: red;
    }

    &:hover{
        outline: 1px solid #000000;
        outline-offset: 2px;
    }
}