@import "../../common/color.scss";


.regiter-container{
    margin-top: 10px;
}

.regiter-container .title{
    margin-bottom: 24px;
}

.regiter-container .box{
    border: 1px solid #ccc;
    padding: 1.5rem;
    border-radius: 4px;
}

.btn-register{
    cursor: pointer;
    padding: 10px;
    border-radius: 4px;
    width: 100%;
    font-size: 16px;
    outline: none;
    border: 1px solid #ccc;
    &:hover{
        background-color: white;
        color:black;
    }
}

.input{
    padding: 8px 4px;
    font-size: 16px;
    margin-bottom: 16px;
}




